<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DBCollectionView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>89DF4D681DBF0BA000FC7F49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89DF4D811DBF0BA000FC7F49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89DF4D8C1DBF0BA000FC7F49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
